.navbar{
    background-image: linear-gradient(#838383, #cccccc); 

    .navbar-collapse { /*ESTO ES PARA LA BARRA DE NAVEGACION A LA IZQ*/
        flex-grow: initial;

         .nav-link {
            color: $colorMia;
            font-size: 1.3rem;
            font-weight: 600;
         }
        
    }
}