@import "footer";

@import "header";


/* ESTILO EN HOJA BOOSTRAP */

body {
    background-color: #cccccc; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.btn-mia { /*FORMULARIO CONTACTO SECC*/
    background: #c33263;
}

.items__mvv {
    width: 60%;
}

.index__container {
    padding-top: 1.5rem;
}

#galeria .col-lg-4 {
    padding: 1rem;
}

#galeria img {
    width: 100%;
    height: 25rem;
}

#galeria img:hover {
    border: 0.5rem solid rgb(170, 170, 170);
}



