body {
  background-color: #cccccc;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.mia-link:hover {
  color: #c33263 !important; }

.navbar {
  background-image: linear-gradient(#838383, #cccccc); }
  .navbar .navbar-collapse {
    /*ESTO ES PARA LA BARRA DE NAVEGACION A LA IZQ*/
    flex-grow: initial; }
    .navbar .navbar-collapse .nav-link {
      color: #c33263;
      font-size: 1.3rem;
      font-weight: 600; }

.footer__color {
  background-image: linear-gradient(#363636, #000000); }
  .footer__color .cmyk {
    width: 1.2rem;
    height: 1.2rem; }
  .footer__color .copy-link:hover {
    color: cornflowerblue !important; }

.btn-mia {
  /*FORMULARIO CONTACTO SECC*/
  background: #c33263; }

.index__container {
  /*SECC INDEX*/
  padding-top: 1.5rem; }

#galeria .col-lg-4 {
  padding: 1rem; }

#galeria img {
  width: 100%;
  height: 25rem; }

#galeria img:hover {
  border: 0.5rem solid #aaaaaa; }
